@media(max-width: 820px) {
    .slider-caption h2 {
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .ps-banner {
        height: 100%;
        min-height: 245px !important;
    }

    .slider-caption {
        top: 0;

    }

    .ps-section--banner {
        padding-top: 0;
    }

    .custom-btn {
        color: #f0094a;
        background: transparent;
        box-shadow: none;
        width: 100%;
        max-width: 200px;
    }

    .banner-img {
        right: 0;
    }

    .ps-section--deals {

        margin-left: -41px !important;
    }

    .ps-header {
        width: 105%;
    }

    .z-block {
        padding: 0;
    }

    .accordion-trigger::after {
        right: 36rem;
    }

    .one .owl-carousel .owl-nav .owl-prev {
        left: 34px;
    }

    .one .owl-carousel .owl-nav {
        left: -7px !important;

    }

    .owl-carousel .owl-nav {
        left: 17px;
    }

    .ps-section--latest .owl-carousel .owl-nav button.disabled,
    .ps-section--deals .owl-carousel .owl-nav button.disabled {
        display: block;

    }

    .owl-carousel .owl-nav .owl-prev {
        margin-right: 12px;
    }
}

@media (min-width: 768px) {

    .ps-header {
        display: block;
    }
}

@media (min-width: 1280px) {
    .ps-header .ps-header__top {
        display: none;
    }

    .ps-header .ps-header__search {
        display: flex;
    }

    .ps-header.ps-header--sticky .ps-header__right {
        padding-left: 0;
    }

    .ps-header .ps-menu--sticky {
        position: initial;
    }

    .ps-header .ps-navigation__right {
        display: table-cell;
    }

    .ps-header .ps-top__right .menu-top {
        text-align: left;
    }

    .ps-header .ps-top__right .menu-top .nav-item:last-child {
        border-left: 1px solid #d9dee8;
    }

    .ps-header .ps-top__right .ps-top__social {
        border-left: 1px solid #d9dee8;
        padding: 0 10px;
    }


    .ps-header .ps-header__icons .open-search {
        display: none;
    }
}